$color-purple: #6B5CA5;
$light-blue: #C6D8FF;
$modal-bgc: #B8C5F1;
$lang-bgc: #849DF0;


$color-feature: #7063AA;

$color-desc: #657786;

$hover-blue: #3BA0C5;

$post-border-color: #E6ECF0;


$error: #fe0000;