
$font-setting: Helvetica, Arial, sans-serif;


@mixin debug-line {
    @if $debug == true {
      border: solid 1px red;
    }  
}

@mixin noSelect {
  user-select: none;
}

@mixin customized-scroll {
  &::-webkit-scrollbar {
      width: 8px;
  }

  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0, .2);
  }


  &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-border-radius: 10px;
      background: #B8C5F1;
      // display: none;
  }
}